.chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.chat__header {
  width: 100%;
  display: grid;
  grid-template-areas: 'img name settings' 'img usernames settings';
  padding: 8px 20px;
  grid-template-columns: 10% 80% 10%;
  row-gap: 5px;
  align-items: center;
}

.chat__header-default-image {
  grid-area: img;
  width: 50px;
  height: 50px;
}

.chat__header img {
  grid-area: img;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.chat__header-input {
  grid-area: name;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.chat__header-input input {
  background-color: var(--colors-teal-800);
  font-weight: 500;
  font-size: calc(1rem * 16 / 16);
  color: var(--colors-teal-200);
  width: 70%;
  height: 34px;
  padding-left: 8px;
}

.chat__header-input input:focus {
  box-shadow: var(--shadows-medium);
}

.chat__header a {
  background-color: var(--colors-teal-600);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: settings;
  justify-self: end;
  width: 45px;
  height: 45px;
  box-shadow: var(--shadows-medium);
}

.chat__header a svg {
  width: 28px;
  height: 28px;
}

.chat__header p {
  font-size: calc(1rem * 12 / 16);
  font-weight: 400;
  color: var(--colors-teal-600);
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.chat__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  padding: 0px 40px;
  column-gap: 80px;
  background-color: var(--colors-gray);
}

.chat__form input {
  padding-left: 15px;
  background-color: var(--colors-white);
  border-radius: 10px;
  font-weight: 600;
  font-size: calc(1rem * 16 / 16);
  color: var(--colors-teal-600);
  height: 35px;
  width: 630px;
}

.chat__form input:focus {
  box-shadow: var(--shadows-medium);
}

.chat__form button svg {
  width: 24px;
  height: 24px;
}

.spinner {
  width: 25px;
  height: 25px;
}

.chat__chats {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: var(--colors-beige);
}
